body {
	background-color: #594F4F;
}
.navbar-default {
	border-color: #574444;
	background-color: #547980;
}
.navbar-default .navbar-brand {
    color: #FCFBE3;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #45ADA8;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FCFBE3;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.jumbotron{
	background-color: #FCFBE3;
}

